.header {
  padding: 14px 40px;
  background-color: #f5f6f8;

  display: flex;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__icon {
  height: 24px;
  width: 24px;
  color: #1c1c1e;
}

.header__title {
  font-size: 22px;
  font-weight: 500;
  color: #1c1c1e;
}
